/* 기본 설정 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f5f7fa; /* 파스텔 블루 */
    color: #333;
}

/* 애니메이션 클래스 */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

.slide-in {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.slide-in.visible {
    opacity: 1;
    transform: translateX(0);
}

/* 다른 CSS 설정 */
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: #333;
}

nav ul li a {
    color: #fff;
    padding: 1rem;
    display: block;
    text-decoration: none;
    transition: background 0.3s;
}

nav ul li a:hover {
    background-color: #444;
}

/* 배너 */
#main-banner {
    height: 120vh;
    background: url('../assets/images/background.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #333;
}

#main-banner h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #37474f;
}

#main-banner p {
    font-size: 1.5rem;
    color: #546e7a; /* 파스텔 그레이 */
}

.btn {
    background-color: #b3e5fc; /* 파스텔 블루 버튼 */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #81d4fa; /* 호버 시 진한 파스텔 블루 */
}

/* 소개 */
#about {
    padding: 3rem;
    background-color: #e1f5fe; /* 파스텔 블루 */
    color: #333;
    text-align: center;
}

/* 능력 */
#skills {
    padding: 3rem;
    background-color: #fff3e0; /* 파스텔 오렌지 */
    color: #333;
    visibility: visible; /* 가시성 설정 */
}

/* 프로젝트 섹션 */
#projects {
    padding: 3rem;
    background-color: #fce4ec; /* 파스텔 핑크 */
    color: #333;
}

/* 이력 섹션 */
#resume {
    padding: 3rem;
    background-color: #f1f8e9; /* 파스텔 그린 */
    color: #333;
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

#skills ul li::before {
    content: "⚙ "; /* 앞에 아이콘 추가 */
}

/* 이력 */
#resume {
    padding: 3rem;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume-container .photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
}
